- cache leaderboard, force: local_assigns.fetch(:bust_cache, false) do
  #leaderboard
    .row
      .col-8
        %h4= leaderboard.title
      .col.text-right
        %span#leaderboard_connection_status.badge.badge-secondary{ data: { target: "live-leaderboards.status" } }
          Connecting...
        #leaderboard_last_updated_time
          %small
            Last updated
            = local_time_ago(Time.now)
    = render partial: "leaderboards/table", locals: { leaderboard: leaderboard }
