.container
  %h1 Leaderboards

  = render partial: "nav", locals: { families: @families, leaderboard: @leaderboard, timeframes: @timeframes }

  #live_leaderboard{ data: { controller: "live-leaderboards", live_leaderboards_leaderboard: @leaderboard.channel } }
    = render partial: "leaderboard", locals: { leaderboard: @leaderboard }
