.main
  #groups
    .group-header
      .group-header-name
        %h1 Groups
      .group-header-buttons
        = link_to "Create new group", new_group_path, class: "btn btn-primary"
    .row.d-flex.flex-row.justify-content-between
      = render @groups

#membership_request_modal.modal{ role: "dialog", aria: { hidden: true }, data: { controller: 'groups-modal' } }


