.main
  #groups
    .group-header.mb-3
      .group-header-name
        %h1 Groups
      .group-header-buttons
        = link_to "Create new group", new_group_path, class: "btn btn-primary"
    - if @my_groups.exists?
      .row
        .col-12
          %h2 My Groups
      .row.d-flex.flex-row.justify-content-between.mb-3
        = render @my_groups
    .row
      .col-12
        %h2 All Groups
    .row.d-flex.flex-row.justify-content-between
      = render @groups

#membership_request_modal.modal{ role: "dialog", aria: { hidden: true }, data: { controller: 'groups-modal' } }


