<footer class="footer text-muted bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="text-light" >© <%= Date.today.year %> jac241</span>
      </div>
      <div class="col-md-6 text-right">
        <a target="_blank" href="https://icons8.com/icons/set/trophy">Trophy icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
      </div>
    </div>
  </div>
</footer>
