<footer class="footer text-muted bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <span class="text-light small" >© <%= Date.today.year %> <a target="_blank" href="https://jac241.github.io/projects/">jac241</a></span>
      </div>
      <div class="col-8 text-right small">
        <a target="_blank" href="https://icons8.com/icons/set/trophy">Trophy icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
      </div>
    </div>
  </div>
</footer>
