.main
  %h2 What is Chase Mode?
  %p
    Chase mode shows you your current rank, score, and the score of the user
    one rank above you. I was looking for a way to stay motivated while reviewing
    and thought that this could be a great way to do it. It updates every 45
    seconds so as to not be distracting. Hopefully you like it!
  = image_tag "chase_mode.png", class: 'img-fluid'
