.container
  %h2 Connect with Anki Killstreaks
  %hr
  %h3 Step 1. Confirm your email.
  %p
    Check your email for a message from us. Click the link in the message to
    activate your account. This is done to confirm that you own the email address
    you signed up with, which allows password resets to function. We will never
    sell or share your email address, it's just to enable password resets.
  %br
  %h3 Step 2. Sign in from the Killstreaks menu in Anki.
  .row
    .col-md-6
      = image_tag "connect/killstreaks_menu.png", class: 'img-fluid'
    .col-md-6
      = image_tag "connect/profile_settings_dialog.png", class: 'img-fluid'
  %br
  %h3 Step 3. Start Reviewing!
  .row
    .col-md-8
      %img.img-fluid{ src: "https://user-images.githubusercontent.com/3792672/76172087-71164780-6168-11ea-8ab0-8962ec2b74c5.gif"}
  %br
