.main
  %h2 Connect with Anki Killstreaks
  %hr
  %h3 Step 1. Download the latest version of the Anki Killstreaks Add-on.
  %p
    The lastest version with support for the leaderboards and chase mode is available
    on
    %a{href: "https://ankiweb.net/shared/info/579111794"}
      AnkiWeb.
  %br
  %h3 Step 2. Sign in from the Killstreaks menu in Anki.
  .row
    .col-md-6
      = image_tag "connect/killstreaks_menu.png", class: 'img-fluid'
    .col-md-6
      = image_tag "connect/profile_settings_dialog.png", class: 'img-fluid'
  %br
  %h3 Step 3. Start Reviewing!
  .row
    .col-md-8
      %img.img-fluid{ src: "https://user-images.githubusercontent.com/3792672/76172087-71164780-6168-11ea-8ab0-8962ec2b74c5.gif"}
  %br
