<section class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Anki Achievements</h1>
    <p class="lead text-muted">
      Right now, just hosting the Anki Killstreaks leaderborads.
      <br>
      Eventually (hopefully), a whole achievements ecosystem for Anki, the best spaced repitition
      learning app in existence.
    </p>
    <p class="text-muted">
      Sign up to see all the leaderboards and compete with other Anki users for the top spot.
    </p>
    <p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
  </div>
</section>
<section class="text-center">
  <h1>Top 10 for Halo 3</h1>
</section>
