%table#rivalry
  %td#rivalry_user
    - if @rivalry.user_ranked?
      Score: 
      = @rivalry.user_score
      %br
      Your Rank: 
      = @rivalry.user_rank
    - else
      Start reviewing to become ranked!

  - if @rivalry.rival
    %td#rivalry_rival
      Rival: 
      - if @rivalry.rival_online?
        %span{ title: "Online", style: 'color: #0275d8;' }
          = @rivalry.rival_display_text
      - else
        = @rivalry.rival_display_text
