.main
  %h1 HTML 500 Error
  %h2
    Internal Server Error

  %p
    Something went wrong with the site when you made your last request.
    Try clearing you cookies and cache, and trying again. If the error persists,
    the site may be down. Please create an issue
    %a{href: "https://github.com/jac241/anki_killstreaks/issues/new"}
      here
    and attach a screenshot and description of what you were trying to do.
