//$navbar-default-bg: #312312;
//$light-orange: #ff8c00;
//$navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";

//@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
//$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
//"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
//"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$spacer: 0.7rem;
@import "bootstrap";

// Add SASS theme customizations here..
@import "bootstrap-colorpicker";

//$h1-font-size: $font-size-base * 2.25 !default;

@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

h1.form-header {
  margin-bottom: 0.35em;
}

.main {
  @extend .container;
  margin-bottom: 90px; // 1.5 * footer height
}

@import "leaderboards";
@import "medals";
@import "groups";
