//$navbar-default-bg: #312312;
//$light-orange: #ff8c00;
//$navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap";

//$h1-font-size: $font-size-base * 2.25 !default;

@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

h1.form-header {
  margin-bottom: 0.35em
}

@import "leaderboards";
@import "medals";
