#groups {
  margin-bottom: 4rem;
}

.group-header {
  @extend .row;

  .group-header-name {
    @extend .col-md-8;
    @extend .col-12;
  }

  .group-header-buttons {
    @extend .col-md-4;
    @extend .col-12;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-end;

    .action-btn {
      margin-left: 5px;
    }
  }
}

.group-card {
  @extend .card;

  width: 20rem;
  margin: 10px;
  padding: 20px;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  @include media-breakpoint-only(lg) {
    width: 45%;
  }

  .card-text {
    flex: 1;
  }

  .btn {
    margin-bottom: 5px;
    width: 100%;
  }
}
