.leaderboard-navigation {
  margin-top: 20px;
  margin-bottom: 30px;
}

.leaderboard-navigation > nav {
  margin-top: 8px;
  margin-bottom: 8px;
}

.leaderboard-header {
  margin-bottom: 10px;
}

#leaderboard_table {
  margin-bottom: 96px;
}

.top-medals {
  display: flex;
  flex-wrap: wrap;
}

.top-medal {
  flex: 1 1 auto;
}
