@import "bootstrap/scss/variables";

.leaderboard-navigation {
  margin-top: 20px;
  margin-bottom: 30px;
}

.leaderboard-navigation > nav {
  margin-top: 8px;
  margin-bottom: 8px;
}

.leaderboard-header {
  margin-bottom: 10px;
}

#leaderboard_table {
  margin-bottom: 96px;
}

.top-medals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-medal {
  flex: 1 1 0;
  min-width: 100px;
}

.virtual-table-row:nth-child(even) {
  background-color: $gray-200;
}

.leaderboard-username {
  font-size: $font-size-lg;
}

@include media-breakpoint-up(md) {
  .leaderboard-username {
    font-size: $font-size-base;
  }
}
